# Continuous Variable Probabilistic Methods for Identifying Outliers Exercises
Using the repo setup directions, setup a new local and remote repository named anomaly-detection-exercises. The local version of your repo should live inside of ~/codeup-data-science. This repo should be named anomaly-detection-exercises

Save this work in your anomaly-detection-exercises repo. Then add, commit, and push your changes.

continuous_probabilistic_methods.py or continuous_probabilistic_methods.ipynb 1. Define a function named get_lower_and_upper_bounds that has two arguments. The first argument is a pandas Series. The second argument is the multiplier, which should have a default argument of 1.5.

## 1. Using lemonade.csv dataset and focusing on continuous variables:

In [2]:
import pandas as pd
import numpy as np

In [6]:
lemon = pd.read_csv('https://gist.githubusercontent.com/ryanorsinger/19bc7eccd6279661bd13307026628ace/raw/e4b5d6787015a4782f96cad6d1d62a8bdbac54c7/lemonade.csv')
lemon.head()

     Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  1/1/17     Sunday         27.0      2.00      15    0.5     10
1  1/2/17     Monday         28.9      1.33      15    0.5     13
2  1/3/17    Tuesday         34.5      1.33      27    0.5     15
3  1/4/17  Wednesday         44.1      1.05      28    0.5     17
4  1/5/17   Thursday         42.4      1.00      33    0.5     18

In [18]:
def get_lower_and_upper_bounds(df_series, multiplier=1.5):
    stats = df_series.describe()
    q1 = stats.loc['25%']
    q3 = stats.loc['75%']
    iqr = q3 - q1
    lower_bound = q1 - (multiplier * iqr)
    upper_bound = q3 + (multiplier * iqr)
    print(f'Lower bound: {lower_bound}')
    print(f'Upper bound: {upper_bound}')
    return lower_bound, upper_bound


### * Use the IQR Range Rule and the upper and lower bounds to identify the lower outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these lower outliers make sense? Which outliers should be kept?

In [81]:
def outliers(lemon, mult=1.5, up=True, down=True):
    for col in lemon.select_dtypes('number').columns:
        print(col)
        l, u = get_lower_and_upper_bounds(lemon[col], multiplier=mult)
        if down is True:
            print()
            print('Lower outliers')
            print( lemon[(lemon[col] < l)].sort_values(col) )
        if up is True:
            print()
            print('Upper outliers')
            print( lemon[(lemon[col] > u)].sort_values(col) )
        print('--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---')
        print()

In [82]:
outliers(lemon, up=False)

Temperature
Lower bound: 16.700000000000003
Upper bound: 104.7

Lower outliers
         Date     Day  Temperature  Rainfall  Flyers  Price  Sales
364  12/31/17  Sunday         15.1       2.5       9    0.5      7
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Rainfall
Lower bound: 0.26
Upper bound: 1.3

Lower outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Flyers
Lower bound: 4.0
Upper bound: 76.0

Lower outliers
         Date      Day  Temperature  Rainfall  Flyers  Price  Sales
324  11/21/17  Tuesday         47.0      0.95     -38    0.5     20
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Price
Lower bound: 0.5
Upper bound: 0.5

Lower outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Sales
Lower bound: 5.0
Upper bound: 45.0

Lower outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

### * Use the IQR Range Rule and the upper and upper bounds to identify the upper outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these upper outliers make sense? Which outliers should be kept?

In [83]:
outliers(lemon, down=False)

Temperature
Lower bound: 16.700000000000003
Upper bound: 104.7

Upper outliers
       Date       Day  Temperature  Rainfall  Flyers  Price  Sales
41  2/11/17  Saturday        212.0      0.91      35    0.5     21
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Rainfall
Lower bound: 0.26
Upper bound: 1.3

Upper outliers
         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
28    1/29/17     Sunday         35.2      1.33      27    0.5     14
354  12/21/17   Thursday         40.5      1.33      23    0.5     15
350  12/17/17     Sunday         32.2      1.33      16    0.5     14
345  12/12/17    Tuesday         33.5      1.33      22    0.5     15
12    1/13/17     Friday         37.5      1.33      19    0.5     15
11    1/12/17   Thursday         38.2      1.33      16    0.5     14
27    1/28/17   Saturday         34.9      1.33      15    0.5     13
1      1/2/17     Monday         28.9      1.33      15    0.5     13
2      1/3/17    Tuesday         34.5      1.33      27    0.5     15
342   12/9/17   Saturday         31.2      1.43      19    0.5     14
351  12/18/17     Monday         30.9      1.43      27    0.5     13
346  12/13/17  Wednesday         32.2      1.43      26    0.5     14
363  12/30/17   Saturday         30.9      1.43      22    0.5     13
359  12/26/17    Tuesday         28.9      1.43      23    0.5     13
19    1/20/17     Friday         31.6      1.43      20    0.5     12
16    1/17/17    Tuesday         32.2      1.43      26    0.5     14
337   12/4/17     Monday         34.9      1.54      16    0.5     13
10    1/11/17  Wednesday         32.6      1.54      23    0.5     12
5      1/6/17     Friday         25.3      1.54      23    0.5     11
23    1/24/17    Tuesday         28.6      1.54      20    0.5     12
347  12/14/17   Thursday         31.9      1.54      24    0.5     13
355  12/22/17     Friday         30.9      1.54      17    0.5     13
6      1/7/17   Saturday         32.9      1.54      19    0.5     13
15    1/16/17     Monday         30.6      1.67      24    0.5     12
338   12/5/17    Tuesday         22.0      1.82      11    0.5     10
343  12/10/17     Sunday         31.3      1.82      15    0.5     11
0      1/1/17     Sunday         27.0      2.00      15    0.5     10
364  12/31/17     Sunday         15.1      2.50       9    0.5      7
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Flyers
Lower bound: 4.0
Upper bound: 76.0

Upper outliers
        Date     Day  Temperature  Rainfall  Flyers  Price  Sales
166  6/16/17  Friday         99.3      0.47      77    0.5     41
194  7/14/17  Friday         92.0      0.50      80    0.5     40
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Price
Lower bound: 0.5
Upper bound: 0.5

Upper outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Sales
Lower bound: 5.0
Upper bound: 45.0

Upper outliers
       Date       Day  Temperature  Rainfall  Flyers  Price  Sales
181  7/1/17  Saturday        102.9      0.47      59    0.5    143
182  7/2/17    Sunday         93.4      0.51      68    0.5    158
183  7/3/17    Monday         81.5      0.54      68    0.5    235
184  7/4/17   Tuesday         84.2      0.59      49    0.5    534
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

### * Using the multiplier of 3, IQR Range Rule, and the lower bounds, identify the outliers below the lower bound in each colum of lemonade.csv. Do these lower outliers make sense? Which outliers should be kept?

In [84]:
outliers(lemon, mult=3, up=False)

Temperature
Lower bound: -16.299999999999997
Upper bound: 137.7

Lower outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Rainfall
Lower bound: -0.13
Upper bound: 1.69

Lower outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Flyers
Lower bound: -23.0
Upper bound: 103.0

Lower outliers
         Date      Day  Temperature  Rainfall  Flyers  Price  Sales
324  11/21/17  Tuesday         47.0      0.95     -38    0.5     20
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Price
Lower bound: 0.5
Upper bound: 0.5

Lower outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Sales
Lower bound: -10.0
Upper bound: 60.0

Lower outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

### * Using the multiplier of 3, IQR Range Rule, and the upper bounds, identify the outliers above the upper_bound in each colum of lemonade.csv. Do these upper outliers make sense? Which outliers should be kept?

In [85]:
outliers(lemon, mult=3, down=False)

Temperature
Lower bound: -16.299999999999997
Upper bound: 137.7

Upper outliers
       Date       Day  Temperature  Rainfall  Flyers  Price  Sales
41  2/11/17  Saturday        212.0      0.91      35    0.5     21
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Rainfall
Lower bound: -0.13
Upper bound: 1.69

Upper outliers
         Date      Day  Temperature  Rainfall  Flyers  Price  Sales
338   12/5/17  Tuesday         22.0      1.82      11    0.5     10
343  12/10/17   Sunday         31.3      1.82      15    0.5     11
0      1/1/17   Sunday         27.0      2.00      15    0.5     10
364  12/31/17   Sunday         15.1      2.50       9    0.5      7
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Flyers
Lower bound: -23.0
Upper bound: 103.0

Upper outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Price
Lower bound: 0.5
Upper bound: 0.5

Upper outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

Sales
Lower bound: -10.0
Upper bound: 60.0

Upper outliers
       Date       Day  Temperature  Rainfall  Flyers  Price  Sales
181  7/1/17  Saturday        102.9      0.47      59    0.5    143
182  7/2/17    Sunday         93.4      0.51      68    0.5    158
183  7/3/17    Monday         81.5      0.54      68    0.5    235
184  7/4/17   Tuesday         84.2      0.59      49    0.5    534
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

## 2. Identify if any columns in lemonade.csv are normally distributed. For normally distributed columns:

    * Use a 2 sigma decision rule to isolate the outliers.

        * Do these make sense?
        * Should certain outliers be kept or removed?

In [59]:
lemon.head()

     Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  1/1/17     Sunday         27.0      2.00      15    0.5     10
1  1/2/17     Monday         28.9      1.33      15    0.5     13
2  1/3/17    Tuesday         34.5      1.33      27    0.5     15
3  1/4/17  Wednesday         44.1      1.05      28    0.5     17
4  1/5/17   Thursday         42.4      1.00      33    0.5     18

In [67]:
lemon.select_dtypes('number')

     Temperature  Rainfall  Flyers  Price  Sales
0           27.0      2.00      15    0.5     10
1           28.9      1.33      15    0.5     13
2           34.5      1.33      27    0.5     15
3           44.1      1.05      28    0.5     17
4           42.4      1.00      33    0.5     18
..           ...       ...     ...    ...    ...
360         42.7      1.00      33    0.5     19
361         37.8      1.25      32    0.5     16
362         39.5      1.25      17    0.5     15
363         30.9      1.43      22    0.5     13
364         15.1      2.50       9    0.5      7

[365 rows x 5 columns]

In [86]:
def sigma_outliers(df, sig = 2):
    for col in df.select_dtypes('number').columns:
        z = (df[col] - df[col].mean()) / df[col].std()
        print(f' {col} outliers')
        print(df[z.abs() >= sig])
        print('--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---')
        print()

In [87]:
sigma_outliers(lemon)

 Temperature outliers
         Date       Day  Temperature  Rainfall  Flyers  Price  Sales
41    2/11/17  Saturday        212.0      0.91      35    0.5     21
166   6/16/17    Friday         99.3      0.47      77    0.5     41
176   6/26/17    Monday        102.6      0.47      60    0.5     42
181    7/1/17  Saturday        102.9      0.47      59    0.5    143
190   7/10/17    Monday         98.0      0.49      66    0.5     40
198   7/18/17   Tuesday         99.3      0.47      76    0.5     41
202   7/22/17  Saturday         99.6      0.47      49    0.5     42
207   7/27/17  Thursday         97.9      0.47      74    0.5     43
338   12/5/17   Tuesday         22.0      1.82      11    0.5     10
364  12/31/17    Sunday         15.1      2.50       9    0.5      7
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

 Rainfall outliers
         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0      1/1/17     Sunday         27.0      2.00      15    0.5     10
5      1/6/17     Friday         25.3      1.54      23    0.5     11
6      1/7/17   Saturday         32.9      1.54      19    0.5     13
10    1/11/17  Wednesday         32.6      1.54      23    0.5     12
15    1/16/17     Monday         30.6      1.67      24    0.5     12
16    1/17/17    Tuesday         32.2      1.43      26    0.5     14
19    1/20/17     Friday         31.6      1.43      20    0.5     12
23    1/24/17    Tuesday         28.6      1.54      20    0.5     12
337   12/4/17     Monday         34.9      1.54      16    0.5     13
338   12/5/17    Tuesday         22.0      1.82      11    0.5     10
342   12/9/17   Saturday         31.2      1.43      19    0.5     14
343  12/10/17     Sunday         31.3      1.82      15    0.5     11
346  12/13/17  Wednesday         32.2      1.43      26    0.5     14
347  12/14/17   Thursday         31.9      1.54      24    0.5     13
351  12/18/17     Monday         30.9      1.43      27    0.5     13
355  12/22/17     Friday         30.9      1.54      17    0.5     13
359  12/26/17    Tuesday         28.9      1.43      23    0.5     13
363  12/30/17   Saturday         30.9      1.43      22    0.5     13
364  12/31/17     Sunday         15.1      2.50       9    0.5      7
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

 Flyers outliers
         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
166   6/16/17     Friday         99.3      0.47      77    0.5     41
170   6/20/17    Tuesday         85.1      0.54      70    0.5     37
171   6/21/17  Wednesday         94.3      0.47      76    0.5     41
182    7/2/17     Sunday         93.4      0.51      68    0.5    158
183    7/3/17     Monday         81.5      0.54      68    0.5    235
194   7/14/17     Friday         92.0      0.50      80    0.5     40
198   7/18/17    Tuesday         99.3      0.47      76    0.5     41
203   7/23/17     Sunday         89.1      0.51      72    0.5     37
204   7/24/17     Monday         83.5      0.57      69    0.5     35
207   7/27/17   Thursday         97.9      0.47      74    0.5     43
324  11/21/17    Tuesday         47.0      0.95     -38    0.5     20
338   12/5/17    Tuesday         22.0      1.82      11    0.5     10
364  12/31/17     Sunday         15.1      2.50       9    0.5      7
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

 Price outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

 Sales outliers
       Date       Day  Temperature  Rainfall  Flyers  Price  Sales
181  7/1/17  Saturday        102.9      0.47      59    0.5    143
182  7/2/17    Sunday         93.4      0.51      68    0.5    158
183  7/3/17    Monday         81.5      0.54      68    0.5    235
184  7/4/17   Tuesday         84.2      0.59      49    0.5    534
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

## 3. Now use a 3 sigma decision rule to isolate the outliers in the normally distributed columns from lemonade.csv

In [70]:
sigma_outliers(lemon, 3)

 Temperature outliers
       Date       Day  Temperature  Rainfall  Flyers  Price  Sales
41  2/11/17  Saturday        212.0      0.91      35    0.5     21

 Rainfall outliers
         Date      Day  Temperature  Rainfall  Flyers  Price  Sales
0      1/1/17   Sunday         27.0      2.00      15    0.5     10
15    1/16/17   Monday         30.6      1.67      24    0.5     12
338   12/5/17  Tuesday         22.0      1.82      11    0.5     10
343  12/10/17   Sunday         31.3      1.82      15    0.5     11
364  12/31/17   Sunday         15.1      2.50       9    0.5      7

 Flyers outliers
         Date      Day  Temperature  Rainfall  Flyers  Price  Sales
324  11/21/17  Tuesday         47.0      0.95     -38    0.5     20

 Price outliers
Empty DataFrame
Columns: [Date, Day, Temperature, Rainfall, Flyers, Price, Sales]
Index: []

 Sales outliers
       Date       Day  Temperature  Rainfall  Flyers  Price  Sales
181  7/1/17  Saturday        102.9      0.47      59    0.5    143
182  7/2/17    Sunday         93.4      0.51      68    0.5    158
183  7/3/17    Monday         81.5      0.54      68    0.5    235
184  7/4/17   Tuesday         84.2      0.59      49    0.5    534